/* All HTML files use this shared.css */
html, body {
	margin: 0;
	height: 100%;
}

.nav-bar{
	height: 50px;
	width: 100%;
	font-size: 30px;
	background-color: rgba(0,0,0,1);
	color: white;
	margin: 0;
}

.nav-bar td{
	padding: 10px;
}

#right{
	text-align: right;
}